kdbx.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="KeePassFile" type="KeePassFileType" />
	<xs:simpleType name="RelaxedBooleanType">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="False" />
					<xs:enumeration value="True" />
					<xs:enumeration value="null" />
					<xs:enumeration value="Null" />
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:boolean" />
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:complexType name="MemoryProtectionType">
		<xs:sequence>
			<xs:element type="xs:string" name="ProtectTitle" />
			<xs:element type="xs:string" name="ProtectUserName" />
			<xs:element type="xs:string" name="ProtectPassword" />
			<xs:element type="xs:string" name="ProtectURL" />
			<xs:element type="xs:string" name="ProtectNotes" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MetaType">
		<xs:sequence>
			<xs:element type="xs:string" name="Generator" />
			<xs:element type="xs:string" name="DatabaseName" />
			<xs:element type="xs:dateTime" name="DatabaseNameChanged" />
			<xs:element type="xs:string" name="DatabaseDescription" />
			<xs:element type="xs:dateTime" name="DatabaseDescriptionChanged" />
			<xs:element type="xs:string" name="DefaultUserName" />
			<xs:element type="xs:dateTime" name="DefaultUserNameChanged" />
			<xs:element type="xs:integer" name="MaintenanceHistoryDays" />
			<xs:element type="xs:string" name="Color" />
			<xs:element type="xs:dateTime" name="MasterKeyChanged" />
			<xs:element type="xs:integer" name="MasterKeyChangeRec" />
			<xs:element type="xs:integer" name="MasterKeyChangeForce" />
			<xs:element type="MemoryProtectionType" name="MemoryProtection" />
			<xs:element type="xs:string" name="RecycleBinEnabled" />
			<xs:element type="xs:string" name="RecycleBinUUID" />
			<xs:element type="xs:dateTime" name="RecycleBinChanged" />
			<xs:element type="xs:string" name="EntryTemplatesGroup" />
			<xs:element type="xs:dateTime" name="EntryTemplatesGroupChanged" />
			<xs:element type="xs:integer" name="HistoryMaxItems" />
			<xs:element type="xs:integer" name="HistoryMaxSize" />
			<xs:element type="xs:string" name="LastSelectedGroup" />
			<xs:element type="xs:string" name="LastTopVisibleGroup" />
			<xs:element type="xs:string" name="Binaries" />
			<xs:element type="xs:string" name="CustomData" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TimesType">
		<xs:sequence>
			<xs:element type="xs:dateTime" name="LastModificationTime" />
			<xs:element type="xs:dateTime" name="CreationTime" />
			<xs:element type="xs:dateTime" name="LastAccessTime" />
			<xs:element type="xs:dateTime" name="ExpiryTime" />
			<xs:element type="RelaxedBooleanType" name="Expires" />
			<xs:element type="xs:nonNegativeInteger" name="UsageCount" />
			<xs:element type="xs:dateTime" name="LocationChanged" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StringType">
		<xs:sequence>
			<xs:element type="xs:string" name="Key" />
			<xs:element name="Value">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute type="xs:string" name="Protected" use="optional" />
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ValueType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute type="xs:string" name="Protected" use="optional" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="AssociationType">
		<xs:sequence>
			<xs:element type="xs:string" name="Window" />
			<xs:element type="xs:string" name="KeystrokeSequence" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AutoTypeType">
		<xs:sequence>
			<xs:element type="xs:string" name="Enabled" />
			<xs:element type="xs:integer" name="DataTransferObfuscation" />
			<xs:element type="AssociationType" name="Association" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EntryType">
		<xs:sequence>
			<xs:element type="xs:string" name="UUID" />
			<xs:element type="xs:nonNegativeInteger" name="IconID" />
			<xs:element type="xs:string" name="ForegroundColor" />
			<xs:element type="xs:string" name="BackgroundColor" />
			<xs:element type="xs:string" name="OverrideURL" />
			<xs:element type="xs:string" name="Tags" />
			<xs:element type="TimesType" name="Times" />
			<xs:element type="StringType" name="String" maxOccurs="unbounded" minOccurs="0" />
			<xs:element type="AutoTypeType" name="AutoType" />
			<xs:element name="History" minOccurs="0">
				<xs:complexType mixed="true">
					<xs:sequence>
						<xs:element type="EntryType" name="Entry" minOccurs="0" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HistoryType">
		<xs:sequence>
			<xs:element type="EntryType" name="Entry" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GroupType">
		<xs:sequence>
			<xs:element type="xs:string" name="UUID" />
			<xs:element type="xs:string" name="Name" />
			<xs:element type="xs:string" name="Notes" />
			<xs:element type="xs:nonNegativeInteger" name="IconID" />
			<xs:element type="TimesType" name="Times" />
			<xs:element type="RelaxedBooleanType" name="IsExpanded" />
			<xs:element type="xs:string" name="DefaultAutoTypeSequence" />
			<xs:element type="RelaxedBooleanType" name="EnableAutoType" />
			<xs:element type="RelaxedBooleanType" name="EnableSearching" />
			<xs:element name="LastTopVisibleEntry">
				<xs:simpleType>
					<xs:restriction base="xs:base64Binary">
						<xs:length value="16"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element type="EntryType" name="Entry" maxOccurs="unbounded" minOccurs="0" />
			<xs:element type="GroupType" name="Group" maxOccurs="unbounded" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RootType">
		<xs:sequence>
			<xs:element type="GroupType" name="Group" />
			<xs:element type="xs:string" name="DeletedObjects" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="KeePassFileType">
		<xs:sequence>
			<xs:element type="MetaType" name="Meta" />
			<xs:element type="RootType" name="Root" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>